# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vendors
/node_modules

# env files
.env
.env.backup
.env.local

# compiled ts->js files
/src/js/**/*.js

# build directories
/public/build
/dist

# Eclipse
/.project
/.classpath
/.settings
/.factorypath

# intelliJ
/.idea

# vscode
/.vscode
