@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {*/
/*  font-family: "Montserrat";*/
/*  font-style: normal;*/
/*  font-weight: 300;*/
/*  font-display: swap;*/
/*  src: url("/fonts/montserrat-light-webfont.woff2") format("woff2");*/
/*}*/

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/montserrat-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/montserrat-medium-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/montserrat-semibold-webfont.woff2") format("woff2");
}

.katex-block {
  display: flex;
  margin: .5rem 0;
}

.katex-inline {
  display: inline-flex;
  width: fit-content;
}

@layer base {
  .colors-300 {
    @apply transition-colors duration-300;
  }

  .opacity-300 {
    @apply transition-opacity duration-300;
  }

  .styled-scrollbar {
    &::-webkit-scrollbar {
      background-color: inherit;
      width: 5px;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    // TODO: This transition is not working
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: transparent;
      transition: background-color .3s linear .5s;
    }
    &:hover::-webkit-scrollbar-thumb{
      /* Light mode background color */
      @apply bg-gray-200;
      /* Dark mode background color */
      .dark & {
        @apply bg-gray-800;
      }
    }
  }
}

